body {
	margin: 0;
	padding: 0;
}

#page {
	width: 800px;
	margin: 0 auto;
}

#header {
	padding-left: 170px;
	font-family: arial;
	font-size: 20px;
	height: 100px;
	weight: 100%;
	color: #580000;
	text-decoration: none;
	background: url(/Restaurant/resources/images/image.jpg) no-repeat top
		left;
}

#content {
	width: 700px;
	height: 500px;
	font-family: arial;
	font-size: 20px;
	margin-right: 16px;
	margin-bottom: 16px;
	color: #330000;
}

#footer {
	width: 700px;
	height: 100px;
	font-family: arial;
	font-size: 5px;
	margin-right: 16px;
	color: #CC9966;
	background: url(/Restaurant/resources/images/Untitled.png) no-repeat top
		left;
	border: 1px solid #000;
}

#button { /* the CHECKOUT button */
	display: none;
	height: 29px;
	width: 136px;
	padding-top: 15px;
	margin: 0 auto;
	overflow: hidden;
	color: white;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background: url(img/button.png) no-repeat center top;
	/* showing only the top part of the background image */
}

.c2 {
	background: url(../images/button.png);
}

.elementL {
	float: left;
	padding: 5px;
}

.clear {
	clear: both;
}

.label {
	font-weight: bold;
}

.rf-dg,.rf-dg-c {
	border: none;
	background-color:#FAFAF8;
}

.pbody {
	width: 190px;
	background-color:#FFFFBD;
}
.text-input{
    background-color:#fbfbfb;
    border:solid 50px #000000;
    margin-bottom:8px;
    width:178px;
    padding:8px 5px;
    color:#797979;
}
